<!DOCTYPE html>
<html lang="de">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glassmorphism button</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<!-- Buttons brauchen noch Links zu den entsprechenden Seiten -->
<div class="container">
  <div class="btn"><a th:href="#">Eintrag hinzufügen</a></div>
  <div class="btn"><a th:href="@{/eintrag}">Teilnehmer anzeigen</a></div>
  <div class="btn"><a th:href="@{/dozent}">Dozenten anzeigen</a></div>
</div>
</body>
</html>

