<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Digitales Klassenbuch</title>
  <style>

         body {
      font-family: sans-serif;
      background-image: url("https://images.pexels.com/photos/2736497/pexels-photo-2736497.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      }

    </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/startseite_teilnehmer.html">Startseite</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/wochentag_teilnehmer}">Eintragsverzeichnis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/eintrag_teilnehmer}">Teilnehmerverzeichnis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/dozent_teilnehmer}">Dozentenverzeichnis</a>
      </li>
    </ul>
  </div>
</nav>

<div class ="container">
  <div class = "row">
    <h1> Einträge </h1>
  </div>

  <table class = "table table-dark table-bordered">
    <thead class = "table-dark">
    <tr>
      <th> Vertretung </th>
      <th> Lernthema </th>
      <th> Aufgabe </th>
      <th> Versäumnisse </th>
      <th> Verspätungen</th>
      <th class ="bemerkungen-column"> Bemerkungen </th>
      <th> Datum </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "wochentag: ${wochentag}">
      <td th:text = "${wochentag.vertretung}"></td>
      <td th:text = "${wochentag.lernthema}"></td>
      <td th:text = "${wochentag.aufgabe}"></td>
      <td th:text = "${wochentag.versaeumnisse}"></td>
      <td th:text = "${wochentag.verspaetungen}"></td>
      <td th:text = "${wochentag.bemerkungen}"></td>
      <td th:text = "${wochentag.datum}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>